#name_input {
    margin-bottom: 20px;
    display: block;
}

#name_to_call {
    margin-bottom: 20px;
    display: block;
}

#connection_notification {
    background-color:green;
    margin-top: 20px;
    padding: 15px;
    width: 300px;
    display: none;
}

#connection_status {
    padding: 15px;
    display: none;
}

#calling_from_other_title {
    color: blanchedalmond;
    padding: 15px;
    width: 150px;
}

#answer_button {
    background-color:blanchedalmond;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s;
}

#answer_button:hover {
    background-color:darkolivegreen;
}

#answer_button:active {
    transform: scale(0.9);
}

#cancel_button {
    background-color:blanchedalmond;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s;
}

#cancel_button:hover {
    background-color:darkolivegreen;
}

#cancel_button:active {
    transform: scale(0.9);
}

#calling_other_title {
    color: rgb(255, 137, 216);
}

#countdown {
    color: rgb(255, 137, 216);
    font-weight:bolder;
    margin-top: 20px;
    padding-left: 10px;
}

#recv_countdown {
    color: blanchedalmond;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.col_1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.col_2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* starting page */

.starting {
    background-color: #9da391;
}

.middle {
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 8px;
}

#ip-input {
    background-color:beige;
    border: 2px solid #9da391;
    background-color: #9da391;
    color:white;
    outline: none;
    font-size: 18px;
    transition: all 0.3s ease;
    width: 130px;
}

#ip-input::placeholder {
    color: #defa89;
}

#connect-button {
    background-color: #9da391;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80px;
    font-size: 15px;
    color: #defa89;
}

#connect-button:hover {
    background-color:#defa89;
}